<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<article class="post">
  <section class="post-head">
    <small>
    <time><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time>
    <%= link_to 'Изменить', edit_post_path(@post) %>
    </small>
  </section>
</article>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Удалить', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} %>

<%= link_to 'Изменить', edit_post_path(@post) %> |
<%= link_to 'Назад', post_path %>

